<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Articles</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->

</head>
</head>

<body>
<div>
    <ul class="navbar-nav mx-auto">

        <li class="nav-item active">
            <a href="#" th:href="@{/}"  class="btn btn-outline-info">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a href="/article/list" th:href="@{/article/list}" class="btn btn-outline-info">Article management<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a href="/provider/list" th:href="@{/provider/list}" class="btn btn-outline-info">Provider management<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
<div>
<h1 align="center">Welcome Spring Data Layer</h1>
</div>





</body>
</html>